.context {
    display: flex;
    padding: 50px 0;
    width: auto;
    justify-content: space-between;
    flex-direction: row;
}

.cxt {
    display: flex;
    width: 252px;
    padding-top: 50px;
    justify-content: flex-start;
    flex-direction: column;
}

.cxt-title {
    font-size: 24px;
    color: #fff;
    padding: 20px 30px 0px 0px;
}

.cxt-sub-title {
    font-size: 11px;
    color: #fff;
    padding: 20px 0px;
}

.img {
    background-image: url(../../assets/images/10635.png);
    background-size: 100%;
    width: 393px;
    height: 290px;
}