.checker {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
}

.form {
    width: 410px;
}

.input {
    position: relative;
}

input {
    width: 356px;
    position: relative;
    padding: 8px 20px;
    border-radius: 30px;
    border: none;
    font-family: "Open Sans";
    color: gray;
    font-size: 14px;
    font-variant-caps: all-petite-caps;
}

button {
    position: absolute;
    right: 0;
    border: 0px solid #2525F3;
    background-image: linear-gradient(to bottom right, #25BBF3, #2525F3);
    color: #fff;
    font-size: 12px;
    padding: 11px 34px;
    border-radius: 30px;
}